@page "/todo"
@using FirstBlazorApp.Data;

<h3>Todo</h3>

<ul>
    @foreach(var item in Todos)
    {
        <li>@item.Todo</li>
    }
</ul>

<input @bind="newTodo" @bind:event="oninput" placeholder="What do you need to do?"/>
<input @bind="dueDate" @bind:format="yyyy-MM-dd" placeholder="Due Date"/>
<button @onclick="Save">Save</button>

@if (!string.IsNullOrEmpty(newTodo))
{
    <p>@newTodo Due: @dueDate?.ToShortDateString()</p>
}

@code {
    private List<TodoItem> Todos = new();
    private string newTodo = string.Empty;
    private DateTime? dueDate = null;

    private void Save()
    {
        if (string.IsNullOrEmpty(newTodo)) return;

        Todos.Add(new TodoItem { Todo = newTodo });

        newTodo = string.Empty;
    }
}
